cnpj: "12345678000199"
razao_social: "ACME SOFTWARE LTDA"
logradouro: "RUA DAS FLORES"
numero: "100"
bairro: "CENTRO"
cod_municipio: "4205407"
uf: "SC"
cep: "88000000"
fone: "48999999999"
email: "contato@acme-software.com.br"
op_simp_nac: "1"
reg_esp_trib: "0"
serie: "900"
ver_aplic: "emissor-nacional_0.1.0"
